body{
    background-color: rgb(0, 0, 0);
    
}

@font-face {
    font-family: "audiowide";
    src: url(../assets/fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: "luckiest";
    src: url(../assets/fonts/LuckiestGuy-Regular.ttf);
}
html {
    scroll-behavior: smooth;
}